body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.color1 {
    color: orange;
}

section {
    display: flex;
    padding-left: 2%;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(209, 109, 27));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}