body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.color1 {
    color: orange;
}

.display-flex {
    display: flex;
    padding-left: 4%;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding: 4%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(209, 109, 27));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.paragraph1 {
    text-align: justify;
    padding-right: 5%;
}

.paragraph2 {
    margin-right: 98px;
    text-align: justify;
}

.experience-bg {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.section3 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 5px 10px gray;
}